* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background: #fff;
    background: url('./imgs/forest.jpg') no-repeat center center/cover;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    top: 20%;
}

/* this styling stacks the slides on top of each other */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition: opacity 0.4s ease-in-out; */
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    top: 10px;
    opacity: 0;
    width: 100%;
    background-color: rgba(255,255,255, 0.6);
    color: #333;
    padding: 44px;
}

.slide.current .content {
    opacity: 1;
    /* transition: all 0.7s ease-in-out 0.3s; */
}

.buttons button#next {
    position: absolute;
    top: 45%;
    right: 40px;
}

.buttons button#prev {
    position: absolute;
    top: 45%;
    left: 40px;
}

.buttons button {
    border: 2px solid #333;
    background-color: transparent;
    color: #333;
    padding: 15px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: black;
    color: #fff;
}

.imgs {
    width: 200px;
    height: 190px;
    margin-bottom: 20px;
    border-radius: 150px;
}


